<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.matdevtech.multility">

    <!-- Add Access to Internet, to access external APIs -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- This is the file that contains all metadata about and for the application -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <!--suppress AndroidDomInspection -->
        <activity android:name=".NavigationBar"
            android:label="Multility"
            android:parentActivityName=".MainActivity"
            tools:ignore="MissingClass"/>
        <!--suppress AndroidDomInspection -->
        <activity
            android:name=".PrivacyPolicy"
            android:label="@string/priv_policy"
            android:parentActivityName=".SettingsActivity"
            tools:ignore="MissingClass"/>
        <!--suppress AndroidDomInspection -->
        <activity
            android:name=".TermsOfService"
            android:label="@string/tos"
            android:parentActivityName=".SettingsActivity"
            tools:ignore="MissingClass"/>
        <!--suppress AndroidDomInspection -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity"
            tools:ignore="MissingClass"/>
        <!--suppress AndroidDomInspection -->
        <activity
            android:name=".TipCalculator"
            android:label="Tip Calculator"
            android:parentActivityName=".MainActivity"
            tools:ignore="Instantiatable,MissingClass"/>
        <!--suppress AndroidDomInspection -->
        <activity
            android:name=".Notepad"
            android:label="Notepad"
            android:parentActivityName=".MainActivity"
            tools:ignore="Instantiatable,MissingClass"/>
        <!--suppress AndroidDomInspection -->
        <activity
            android:name=".Stopwatch"
            android:label="Stopwatch"
            android:parentActivityName=".MainActivity"
            tools:ignore="Instantiatable,MissingClass"/>
        <!--suppress AndroidDomInspection -->
        <activity
            android:name=".PasswordGenerator"
            android:label="Password Generator"
            android:parentActivityName=".MainActivity"
            tools:ignore="Instantiatable,MissingClass"/>
        <!--suppress AndroidDomInspection -->
        <activity
            android:name=".DailyFact"
            android:label="Daily Fact"
            android:parentActivityName=".MainActivity"
            tools:ignore="Instantiatable,MissingClass"/>
        <!--suppress AndroidDomInspection -->
        <activity
            android:name=".TrendingNews"
            android:label="Trending News"
            android:parentActivityName=".MainActivity"
            tools:ignore="Instantiatable,MissingClass"/>
        <!--
        Remove the above line if data backups are a problem
        *-SOURCE of fix-*
        Previous warning on line 6 under "<application": On SDK version 23 and up, you data will be automatically backed up and restored on app install.
        Consider adding the attribute android:fullBackupContent to specify an @xml resource which configures which files to back up.
        More info: https://developer.android.com/guide/topics/data/autobackup
        -->
        <!--suppress AndroidDomInspection -->
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreenTheme"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity> <!-- suppress CheckTagEmptyBody -->
        <!--suppress AndroidDomInspection -->
        <activity android:name=".MainActivity"
            tools:ignore="MissingClass"/>
    </application>

</manifest>