<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.matdevtech.multility">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".PrivacyPolicy"
            android:label="@string/priv_policy"
            android:parentActivityName=".SettingsActivity"/>
        <activity
            android:name=".TermsOfService"
            android:label="@string/tos"
            android:parentActivityName=".SettingsActivity"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity" />
        <!--
        Remove the above line if data backups are a problem
        *-SOURCE of fix-*
        Previous warning on line 6 under "<application": On SDK version 23 and up, you data will be automatically backed up and restored on app install.
        Consider adding the attribute android:fullBackupContent to specify an @xml resource which configures which files to back up.
        More info: https://developer.android.com/guide/topics/data/autobackup
        -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>